**/target/
**/test-output/
**/${snapdeal.shield.web.webapp.home}/
**/${snapdeal.shield.admin.webapp.home}/
**/${snapdeal.shield.delisting.webapp.home}/
/.git
/.metadata
*/.classpath
*/.project
user.properties
.externalToolBuilders
.settings/
*.log*
*/bin/
.recommenders/
*~
**/.idea/
*.iml
*.ipr
*.iws
/Reports/
mongoexports*
